@charset 'utf-8';

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    padding: 0.1em;
    color: #4F474B;
}
a:hover, header[role="banner"] a:hover {
    border-bottom: 1px dotted;
    color: #D2943F;
}
a:active, header[role="banner"] a:active {
    color: #A69689;
}
a.selected {
    color: #B51009;
}
#main {
    position: relative;
    width: 61.5em;
    margin: 0 auto;
}
.list-links, .authors {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 0;
}


/* ==========================================================================
   Header
   ========================================================================== */

header[role="banner"] {
    padding-top: 1em;
    padding-bottom: 2.5em;
}
header[role="banner"], header[role="banner"] a {
    color: #84A4AA;
    font-family: 'Prox', sans-serif;
}

.ufrj-links {
    margin-left: 15.375em;
    padding-left: 0.5em;
    text-transform: uppercase;
}
.ufrj-links li {
    font-size: 0.75em;
    line-height: 1.66667em;
}

.logo, .address {
    float: left;
}

.logo {
    margin-left: 2.5625em;
    width: 11.53125em;
}
.logo img {
    max-width: 100%;
}
h1 {
    margin-top: 0.5em;
}

.address {
    margin:1em 0 0 7.6875em;
    width: 20.5em;
    padding-left: 0.5em;
    border-left: 1px dotted;
}
.address h5 {
    margin: 1em 0 0 0;
}
.address p {
    font-size: 0.8125em;
    line-height: 1.55em;
    margin: 0 0 1em 0;
}

/* ==========================================================================
   Navigation Sidebar
   ========================================================================== */

aside[role="navigation"] {
    float: left;
    width: 10.25em;
    padding-left: 0.5em;
    padding-right: 3.84375em;
    font-family: 'Prox', sans-serif;
    text-transform: uppercase;
}
aside[role="navigation"] > nav, aside[role="navigation"] .login {
    border-top: 1px dotted #A69689;
    padding-top: 1.23077em;
}
aside[role="navigation"] .login {
    margin-top: 6.6em;
}
aside[role="navigation"] .login a {
    color: #84A4AA;
}
aside[role="navigation"] ul {
    padding: 0;
    margin: 0
}
aside[role="navigation"] li {
    font-size: 0.8125em;
    font-weight: bold;
    margin-bottom: 1em;
}
#footer {
    font-family: "Crete Round", Georgia, Times, "Times New Roman", serif;
    font-size: 0.625em;
    font-style: italic;
    padding-top: 4em;
    position: absolute;
    right: 0;
}
#footer a {
    color: #84A4AA;
}
#footer a:hover {
    color: #B51009;
}
#footer {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

/* ==========================================================================
   Page
   ========================================================================== */
#page {
    float:left;
    width: 51.25em;
    padding: 0 0.5em;
}
.back {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-style: italic;
    font-size: 0.6875em;
    line-height: 1.4em;
}

h2 {
    font-family: 'Prox', sans-serif;
    color: #A69689;
    font-size: 1em;
    line-height: 1.25em;
    text-transform: uppercase;
    letter-spacing: 1px;
}
article > h2 {
    font-size: 1.125em;
    line-height: 1.45em;
    text-transform: uppercase;
}
h3 {
    font-family: 'Prox', sans-serif;
    font-weight: bold;
    font-size: 0.9375em;
    line-height: 1.4em;
    color: #1F4482;
    margin: 1em 0 0.25em;
}
h3 + p {
    margin-top: 0.4em;
}
.info {
    border-top: 1px solid #E9E9E9;
    padding: 1em 0;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    border-bottom: 1em;
}
.info h3 {
    margin-top: 0;
}
.info h5 {
    float: left;
    margin: 0;
    color: #84A4AA;
    font-size: 0.9375em;
    font-weight: normal;
    line-height: 1.6em;
}
.info > ul, .info > div {
    width: 40.5em;
    float: right;
}
.extra-data {
    font-family: 'Prox', sans-serif;
    padding-bottom: 1em;
    margin-top: -0.5em;
}
.extra-data .msg {
    font-size: 0.75em;
    font-weight: bold;
    line-height: 2.15em;
    text-transform: uppercase;
    color: #A69689;
}
.filters {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    width: 7.5em;
    float: left;
}
.filters h6 {
    color: #84A4AA;
    font-family: 'Prox', sans-serif;
    font-weight: normal;
    font-size: 0.8em;
    line-height: 1.2em;
    text-transform: uppercase;
    margin: 0 0 1em;
}
.filters ul {
    margin-bottom: 2em;
}
.filters li {
    font-size: 0.75em;
    margin-bottom: 1.0em;
}
.content {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    width: 40em;
    float: left;
}

.content h6 {
    color: #84A4AA;
    font-weight: bold;
    font-size: 0.8125em;
    text-transform: uppercase;
    margin: 0 0 1em;
}

.text {
    font-size: 0.875em;
    line-height: 1.4em;
}
.text h3 {
    font-size: 1.2em;
}

/* ==========================================================================
   Page customs
   ========================================================================== */
.single-pubs #page, .archive-pubs #page, .archive-news #page {
    padding-top: 3.5em;
    padding-bottom: 1em;
}

.single-pubs #page, .archive-pubs #page, .archive-news #page {
    background-image: url(/img/cadeia-dna.png);
    background-repeat: no-repeat;
}
.svg .single-pubs #page, .svg .archive-pubs #page, .svg .archive-news #page {
    background-image: url(/img/cadeia-dna.svg);
}


/* ==========================================================================
   Single pubs
   ========================================================================== */
.single-pubs article {
    width: 46.125em;
    padding: 0.5em 0 2.5em 0;
}
.single-pubs .authors li {
    float: left;
    width: 30%;
    margin-right: 3%;
    font-size: 0.875em;
    line-height: 1.6em;
    margin-bottom: 0.2em;
}

.single-pubs .text {
    width: 46.28571428571429em;
}
.single-pubs .citacao {
    font-size: 0.875em;
}


/* ==========================================================================
   Archive pubs
   ========================================================================== */
.archive-pubs .search {
    margin-top: -2.7em;
    margin-right: 7em;
}
.archive-pubs .filters, .archive-pubs .content {
    padding-top: 2em;
}

.archive-pubs .content h3, .archive-pubs .content ul {
    width: 50%;
    float: left;
    margin: 0;
    border: 0;
    padding: 0;
}
.archive-pubs ul.authors {
    padding-left: 3em;
}
.archive-pubs .authors li {
    font-size: 0.8125em;
    line-height: 1.5em;
    float: left;
    margin-right: 0.25em;
}
.archive-pubs .authors li:after {
    content: ',';
}
.archive-pubs .authors li:last-of-type:after {
    content: '';
}

.archive-pubs .content section {
    border-left: 1px solid #E9E9E9;
    padding: 0 0 0 1.5em;
}
.archive-pubs .content article {
    /*border-top: 1px solid #E9E9E9;*/
    border-bottom: 1px solid #E9E9E9;
    padding: 1.5em 0;
}
.archive-pubs .content section article:last-child {
    border-bottom: none;
}
.archive-pubs .content h6 {
    color: #84A4AA;
    margin: 0;
    border-bottom: 1px solid #DAE4E5;
    border-top: 1px solid #DAE4E5;
    padding: 0.5em 0;  
}

/* ==========================================================================
   Search
   ========================================================================== */
form.search {
    float:right;
    font-family: 'Prox', sans-serif;
    font-size: 0.875em;
}
form.search input, form.search button {
    font-family: 'Prox', Tahoma, Verdana, Segoe, sans-serif;
    line-height: 1.4em;
}
form.search input[type='search'] {
    border: 1px solid #A69689;
    color: #1F4482;
    vertical-align: middle;
    padding: 0.2em;
    width: 15.375em;
}
form.search button {
    font-weight: bold;
    color: #09262E;
}

/* ==========================================================================
   Archive News
   ========================================================================== */
.news time {
    float: left;
    width: 4.625em;
    padding-right: 0.5em;
    font-family: 'Prox', sans-serif;
    text-transform: uppercase;
    color: #84A4AA;
}
.news time .year {
    font-family: Georgia, Times, "Times New Roman", serif;
    color: #4F474B;
    font-size: 0.75em;
    display: block;
}
.news .content {
    float: left;
    width: 35.875em;
    padding: 0 0.5em;
}
.news article {
    padding: 1em 0;
    border-top: 1px dotted #84A4AA;
}
.news article aside {
    float: left;
    width: 9.75em;
    padding-left: 0.5em;
}