@charset 'utf-8';

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    padding-top: 0.1em;
    padding-bottom: 0.1em; 
    color: #4F474B;
}
a:hover, header[role="banner"] a:hover {
    border-bottom: 1px dotted;
    color: #D2943F;
}
a:active, header[role="banner"] a:active {
    color: #A69689;
}
a.selected {
    color: #B51009;
}

#main {
    position: relative;
    width: 61.5em;
    margin: 0 auto;
}

.list-links {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 0;
}


/* ==========================================================================
   Header
   ========================================================================== */

header[role="banner"] {
    padding-top: 1em;
    padding-bottom: 2.5em;
}
header[role="banner"], header[role="banner"] a {
    color: #84A4AA;
    font-family: 'Prox', sans-serif;
}

.ufrj-links {
    margin-left: 15.375em;
    padding-left: 0.5em;
    text-transform: uppercase;
}
.ufrj-links li {
    font-size: 0.75em;
    line-height: 1.66667em;
}

.logo, .address {
    float: left;
}

.logo {
    margin-left: 2.5625em;
    width: 11.53125em;
}
.logo img {
    width: 100%;
}
h1 {
    margin-top: 0.5em;
}

.address {
    margin:1em 0 0 7.6875em;
    width: 20.5em;
    padding-left: 0.5em;
    border-left: 1px dotted;
}
.address h5 {
    margin: 1em 0 0 0;
}
.address p {
    font-size: 0.8125em;
    line-height: 1.55em;
    margin: 0 0 1em 0;
}

/* ==========================================================================
   Navigation Sidebar
   ========================================================================== */

aside[role="navigation"] {
    float: left;
    width: 10.25em;
    padding-left: 0.5em;
    padding-right: 3.84375em;
    font-family: 'Prox', sans-serif;
    text-transform: uppercase;
}
aside[role="navigation"] > nav, aside[role="navigation"] .login {
    border-top: 1px dotted #A69689;
    padding-top: 1.23077em;
}
aside[role="navigation"] .login {
    margin-top: 10em;
}
aside[role="navigation"] .login a {
    color: #84A4AA;
}
aside[role="navigation"] ul {
    padding: 0;
    margin: 0
}
aside[role="navigation"] li {
    font-size: 0.8125em;
    font-weight: bold;
    margin-bottom: 1em;
}
#footer {
    font-family: "Crete Round", Georgia, Times, "Times New Roman", serif;
    font-size: 0.625em;
    font-style: italic;
    padding-top: 4em;
    position: absolute;
    right: 0;
}
#footer a {
    color: #84A4AA;
}
#footer {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
/* ==========================================================================
   Page
   ========================================================================== */
#page {
    float:left;
    width: 51.25em;
}
.back {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-style: italic;
    font-size: 0.6875em;
    line-height: 1.4em;
}
h3, article > h2 {
    font-size: 1.125em;
    line-height: 1.45em;
    text-transform: uppercase;
    color: #4F474B;
}
.info {
    border-top: 1px solid #E9E9E9;
    padding: 1em 0;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    border-bottom: 1em;
}
.info h3 {
    margin-top: 0;
}
.info h5 {
    float: left;
    margin: 0;
    color: #84A4AA;
    font-size: 0.9375em;
    font-weight: normal;
    line-height: 1.6em;
}
.info > ul, .info > div {
    width: 40.5em;
    float: right;
}
.extra-data {
    font-family: 'Prox';
}
.extra-data .msg {
    font-size: 0.75em;
    font-weight: bold;
    line-height: 2.15em;
    text-transform: uppercase;
    color: #A69689;
}

/* ==========================================================================
   Page background
   ========================================================================== */
.svg .single-pubs #page {
    background-image: url(/img/cadeia-dna.svg);
    background-repeat: no-repeat;
    padding-top: 2.75em;
}

/* ==========================================================================
   Single pubs
   ========================================================================== */
.single-pubs article {
    width: 46.125em;
    padding: 0.5em 0.5em 2.5em 0.5em;
}

.single-pubs .authors {
    font-size: 'Prox', sans-serif;
}
.single-pubs .info h3{
    font-size: 1em;
    line-height: 1.5em;
}
.single-pubs .info p {
    font-size: 0.9375em;
    line-height: 1.6em;
}
